* {
  margin: 0;
  padding: 0;
}
.banner-section {
  margin-top: 50px;
  background-image: url(./assets/Hero-bg.png);
  padding: 200px;
  max-width: 1240px;
  max-height: 652px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
button {
  color: red;
}
